.to-do-list{
    padding: 20px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.buttons{
    display: flex;
    gap: 20px;
}