.calculator{
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field{
    display: flex;
    align-items: center;
    gap: 10px;
}

.field label {
    width: 120px;
    font-weight: bold;
}

.field input {
    flex: 1;
    padding: 8px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.buttons button{
    flex: 1;
}